resources:
- name: qwiklabs-prewarm-instance
  type: instance.py
  properties:
    aws_access_key_id: {{ properties['aws_access_key_id'] }}
    aws_secret_access_key:  {{ properties['aws_secret_access_key'] }}
    gcp_username: {{ properties['gcp_username'] }}
    prewarm_repo_branch: {{ properties['prewarm_repo_branch'] }}
    prewarm_type: {{ properties['prewarm_type'] }}
    zone: {{ properties["zone"] }}

- name: prewarm-runtime-config
  type: runtimeconfig.v1beta1.config
  properties:
    config: prewarm-runtime-config

- name: qwiklabs-prewarm-instance-waiter
  type: runtimeconfig.v1beta1.waiter
  properties:
    parent: $(ref.prewarm-runtime-config.name)
    waiter: qwiklabs-prewarm-instance-waiter
    timeout: 5400s
    success:
      cardinality:
        path: /success
        number: 1
    failure:
      cardinality:
        path: /failure
        number: 1
  metadata:
    dependsOn:
    - qwiklabs-prewarm-instance
